@page 
@model Sephiroth.Pages.Requests.IndexModel

@{
    ViewData["Title"] = "- Requests";
}

<h2>Requests</h2>
<hr/>

<table class="table table-hover">
    <thead class="sephiroth-table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Request[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Request[0].DateOfToday)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Request[0].Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Request)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateOfToday)
                </td>
                <td>
                    <strong>
                        @if (item.Status == RequestStatus.Submitted)
                        {
                        <span>@Html.DisplayFor(modelItem => item.Status)</span>
                        }
                        @if (item.Status == RequestStatus.Approved)
                        {
                        <span style="color:#00C851;">@Html.DisplayFor(modelItem => item.Status)</span>
                        }
                        @if (item.Status == RequestStatus.Rejected)
                        {
                        <span style="color:#ff4444;">@Html.DisplayFor(modelItem => item.Status)</span>
                        }
                    </strong>
                </td>
                <td>
                    <a data-toggle="modal" href="@("#viewModal" + item.RequestId)">Details</a>
                    <div class="modal fade" id="@("viewModal" + item.RequestId)" tabindex="-1" role="dialog">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                @using (Html.BeginForm("", "Requests"))
                                {
                                    <input type="hidden" value="@item.RequestId" name="Id" />
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">X</button>
                                        <h3 class="modal-title text-center">Request details</h3>
                                    </div>
                                    <div class="modal-body">
                                        <div class="row">
                                            <div class="col-md-12 text-left">
                                                <h4><strong>Requester's name</strong>: @item.Name</h4>
                                                <h4><strong>Requester's email</strong>: @item.Email</h4>
                                                <h4><strong>Request received</strong>: @item.DateOfToday</h4>
                                                <h4><strong>Requested date</strong>: @item.DateOfRequest</h4>
                                                <h4><strong>Requested reason</strong>: @item.Reason</h4>
                                                <h4><strong>Request status</strong>: @item.Status</h4>
                                            </div>
                                        </div> 
                                    </div>
                                    <div class="modal-footer">
                                        @if (item.Status != RequestStatus.Approved)
                                        {
                                            @if ((await AuthorizationService.AuthorizeAsync(
                                            User, item, RequestOperations.Approve)).Succeeded)
                                            {
                                                <form style="display:inline;" method="post">
                                                    <input type="hidden" name="id" value="@item.RequestId" />
                                                    <input type="hidden" name="status" value="@RequestStatus.Approved" />
                                                    <button type="submit" class="btn btn-default">Approve</button>
                                                </form>
                                            }
                                        }
                                        @if (item.Status != RequestStatus.Rejected)
                                        {
                                            @if ((await AuthorizationService.AuthorizeAsync(
                                            User, item, RequestOperations.Reject)).Succeeded)
                                            {
                                                <form style="display:inline;" method="post">
                                                    <input type="hidden" name="id" value="@item.RequestId" />
                                                    <input type="hidden" name="status" value="@RequestStatus.Rejected" />
                                                    <button type="submit" class="btn btn-default">Reject</button>
                                                </form>
                                            }
                                        }
                                        @if ((await AuthorizationService.AuthorizeAsync(
                                                User, item,
                                                RequestOperations.Update)).Succeeded)
                                        {
                                        <a class="btn btn-default" asp-page="./Edit" asp-route-id="@item.RequestId">Edit</a>
                                        }
                                        @if (User.IsInRole("RequestAdministrators") || User.IsInRole("RequestManagers")) 
                                        {
                                        <a class="btn btn-danger" data-toggle="modal" href="@("#deleteModal" + item.RequestId)">Delete</a>
                                        
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                        }
                                        else 
                                        {
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                        }
                                    </div>
                                }
                            </div>
                        </div>
                    </div>

                    @if ((await AuthorizationService.AuthorizeAsync(
                      User, item,
                      RequestOperations.Delete)).Succeeded)
                    {
                        <text> | </text>
                        <a data-toggle="modal" href="@("#deleteModal" + item.RequestId)">Delete</a>
                        <div class="modal fade" id="@("deleteModal" + item.RequestId)" tabindex="-1" role="dialog">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    @using (Html.BeginForm("", "Requests"))
                                    {
                                        <input type="hidden" value="@item.RequestId" name="Id" />
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal">X</button>
                                            <h3 class="modal-title text-danger text-center">Delete request</h3>
                                        </div>
                                        <div class="modal-body">
                                            <h4 class="text-danger">Are you sure you want to delete this request?</h4>
                                            <br/>
                                            <h4><strong><u>Details</u></strong></h4>
                                            <h4><strong>Requester's name</strong>: @item.Name</h4>
                                            <h4><strong>Requester's email</strong>: @item.Email</h4>
                                            <h4><strong>Request received</strong>: @item.DateOfToday</h4>
                                            <h4><strong>Requested date</strong>: @item.DateOfRequest</h4>
                                            <h4><strong>Requested reason</strong>: @item.Reason</h4>
                                            <h4><strong>Request status</strong>: @item.Status</h4>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="submit" class="btn btn-danger">Yes</button>
                                            <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
<p>
    <a asp-page="Create" class="btn btn-primary">Create a Request</a>
</p>
