@page 
@model Sephiroth.Pages.Requests.IndexModel

@{
    ViewData["Title"] = "- Requests";
}

<h2 class="model-page-heading">Requests</h2>
<hr/>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Request[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Request[0].DateOfToday)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Request[0].DateOfRequest)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Request[0].Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Request[0].Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Request)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateOfToday)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateOfRequest)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    <a data-toggle="modal" href="@("#viewModal" + item.RequestId)">Details</a>
                    <div class="modal fade" id="@("viewModal" + item.RequestId)" tabindex="-1" role="dialog">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                @using (Html.BeginForm("", "Requests"))
                                {
                                    <input type="hidden" value="@item.RequestId" name="Id" />
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">X</button>
                                        <h3 class="modal-title text-center">Request details</h3>
                                    </div>
                                    <div class="modal-body">
                                        <div class="row">
                                            <div class="col-md-12 text-left">
                                                <h4><strong>@Html.DisplayNameFor(modelItem => item.Name)</strong>: @Html.DisplayFor(modelItem => item.Name)</h4>
                                                <h4><strong>@Html.DisplayNameFor(modelItem => item.DateOfToday)</strong>: @Html.DisplayFor(modelItem => item.DateOfToday)</h4>
                                                <h4><strong>@Html.DisplayNameFor(modelItem => item.DateOfRequest)</strong>: @Html.DisplayFor(modelItem => item.DateOfRequest)</h4>
                                                @if (User.IsInRole("RequestAdministrators") || User.IsInRole("RequestManagers"))
                                                {
                                                <h4><strong>@Html.DisplayNameFor(modelItem => item.Reason)</strong>: @Html.DisplayFor(modelItem => item.Reason)</h4>
                                                }
                                                <h4><strong>@Html.DisplayNameFor(modelItem => item.Email)</strong>: @Html.DisplayFor(modelItem => item.Email)</h4>
                                                <h4><strong>@Html.DisplayNameFor(modelItem => item.Status)</strong>: @Html.DisplayFor(modelItem => item.Status)</h4>
                                            </div>
                                        </div> 
                                    </div>
                                    <div class="modal-footer">
                                        @if (item.Status != RequestStatus.Approved)
                                        {
                                            @if ((await AuthorizationService.AuthorizeAsync(
                                            User, item, RequestOperations.Approve)).Succeeded)
                                            {
                                                <form style="display:inline;" method="post">
                                                    <input type="hidden" name="id" value="@item.RequestId" />
                                                    <input type="hidden" name="status" value="@RequestStatus.Approved" />
                                                    <button type="submit" class="btn btn-default">Approve</button>
                                                </form>
                                            }
                                        }
                                        @if (item.Status != RequestStatus.Rejected)
                                        {
                                            @if ((await AuthorizationService.AuthorizeAsync(
                                            User, item, RequestOperations.Reject)).Succeeded)
                                            {
                                                <form style="display:inline;" method="post">
                                                    <input type="hidden" name="id" value="@item.RequestId" />
                                                    <input type="hidden" name="status" value="@RequestStatus.Rejected" />
                                                    <button type="submit" class="btn btn-default">Reject</button>
                                                </form>
                                            }
                                        }
                                        @if ((await AuthorizationService.AuthorizeAsync(
                                                User, item,
                                                RequestOperations.Update)).Succeeded)
                                        {
                                        <a class="btn btn-default" asp-page="./Edit" asp-route-id="@item.RequestId">Edit</a>
                                        }
                                        @if (User.IsInRole("RequestAdministrators") || User.IsInRole("RequestManagers")) 
                                        {
                                        <a class="btn btn-danger" data-toggle="modal" href="@("#deleteModal" + item.RequestId)">Delete</a>
                                        
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                        }
                                        else 
                                        {
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                        }
                                    </div>
                                }
                            </div>
                        </div>
                    </div>

                    @if ((await AuthorizationService.AuthorizeAsync(
                      User, item,
                      RequestOperations.Delete)).Succeeded)
                    {
                        <text> | </text>
                        <a data-toggle="modal" href="@("#deleteModal" + item.RequestId)">Delete</a>
                        <div class="modal fade" id="@("deleteModal" + item.RequestId)" tabindex="-1" role="dialog">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    @using (Html.BeginForm("", "Requests"))
                                    {
                                        <input type="hidden" value="@item.RequestId" name="Id" />
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal">X</button>
                                            <h3 class="modal-title text-danger text-center">Delete request</h3>
                                        </div>
                                        <div class="modal-body">
                                            <h5 class="text-danger">Are you sure you want to delete this request?</h5>
                                            <p><strong><u>Details</u></strong><br/>
                                            Requester's name: @item.Name<br/>
                                            Requested date: @item.DateOfRequest<br/>
                                            Requested reason: @item.Reason<br/>
                                            Request status: @item.Status</p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="submit" class="btn btn-danger">Yes</button>
                                            <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
<p>
    <a asp-page="Create" class="btn btn-primary">Make Request</a>
</p>
